awesome-slugify  # We need it for django-behaviors
celery
ddtrace
django
django-behaviors
django-cors-headers
django-environ
django-filter
django-healthchecks
django-mptt
django-redis
django-storage-swift
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
environ
flake8
flake8-black
flake8-bugbear
flake8-eradicate
flake8-isort
flake8-print
freezegun
ipython
isort
mixer
pip-tools
psycopg2-binary
pytest
pytest-django
pytest-env
pytest-freezegun
pytest-mock
sentry-sdk
redis
requests
requests-mock
statsd
